<div class="panel panel-primary" ng-controller="ItemListCtrl as x" ng-cloak>
        <md-content class="md-padding" layout="row" layout-wrap layout-align="center start">
                <md-card class="md-whiteframe-6dp" style="width: 1000px;">
                <md-toolbar>
                <div class="md-toolbar-tools">
                        <md-button class="md-icon-button" aria-label="Settings" ng-click="x.justAlert(1);">
                        <md-icon class="material-icons">menu</md-icon>
                        </md-button>
                        <h2 class="md-toolbar-tools">
                        <span>{{::x.title}}</span>
                        </h2>  
                </div>
                </md-toolbar>                       
                        <div align="right" style="width:98%; height:40px;">
                        <md-input-container md-no-float></br><input ng-model="search" class="md-body-1" style="width:20%;" placeholder="Search"></md-input-container>        
                        </div>
                        <md-list-item class="bottomBorder">
                                <div class="md-body-1" style="width:7%; vertical-align: text-top;">
                                        <center><a href="#" ng-click="sortType = 'id'; sortReverse = !sortReverse">
                                        ID
                                        <span ng-show="sortType == 'id' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'id' && sortReverse" class="fa fa-caret-up"></span>
                                        </a></center>
                                </div>                               
                                <div class="md-body-1" style="width:10%; vertical-align: text-top;">
                                        <center><a href="#" ng-click="sortType = 'itemId'; sortReverse = !sortReverse">
                                        ITEM ID
                                        <span ng-show="sortType == 'itemId' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'itemId' && sortReverse" class="fa fa-caret-up"></span>
                                        </a></center>
                                </div>
                                <div class="md-body-1" style="width:20%; vertical-align: text-top;">
                                        <a href="#" ng-click="sortType = 'itemName'; sortReverse = !sortReverse">
                                        NAME
                                        <span ng-show="sortType == 'itemName' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'itemName' && sortReverse" class="fa fa-caret-up"></span>
                                        </a></div>
                                <div class="md-body-1" style="width:56%; vertical-align: text-top;">
                                        <a href="#" ng-click="sortType = 'description'; sortReverse = !sortReverse">
                                        DESCRIPTION
                                        <span ng-show="sortType == 'description' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'description' && sortReverse" class="fa fa-caret-up"></span>
                                        </a></div>
                                <div class="md-body-1" style="width:7%; vertical-align: text-top;"></div>
                        </md-list-item>
                        <md-list-item class="repeat-item" ng-repeat="items in x.items | filter:search | orderBy:sortType:sortReverse" ng-click="showDelete=!showDelete;" style="height:48px;">
                                <div class="md-body-1" style="width:7%; vertical-align: text-top;"><center>{{ items.id }}</center></div>
                                <div class="md-body-1" style="width:10%; vertical-align: text-top;"><center>{{ items.itemId }}</center></div>
                                <div class="md-body-1" style="width:20%; vertical-align: text-top;">{{ items.itemName }}</div>
                                <div class="md-body-1" style="width:56%; vertical-align: text-top;">{{ items.description }}</div>
                                <div class="md-body-1" style="width:7%; vertical-align: text-top;">
                                        <div ng-show="showDelete">
                                                <a href="#" style="color:#E91E63;" ng-click="x.deleteItem(items)" title="Click here to delete ({{ items.itemId }}) {{ items.itemName }}"><i class="fa fa-times"></i> Delete</a>
                                        </div>
                                </div>                                
                        </md-list-item>
                        <md-list-item ng-show="showInputs" class="repeat-item" ng-mouseenter="showCancel=true;" ng-mouseleave="showCancel=false;">
                                <div class="md-body-1" style="width:7%; vertical-align: text-top;"></div>
                                <div class="md-body-1" style="width:10%; vertical-align: text-top;"><md-input-container md-no-float class="md-block"><input style="text-align:center;" ng-model="x.newItem.itemId" placeholder="Item ID"></md-input-container></div>
                                <div class="md-body-1" style="width:20%; vertical-align: text-top;"><md-input-container md-no-float class="md-block"><input ng-model="x.newItem.itemName" placeholder="Item Name"></md-input-container></div>
                                <div class="md-body-1" style="width:56%; vertical-align: text-top;"><md-input-container md-no-float class="md-block"><input ng-model="x.newItem.description" placeholder="Item Description" ng-blur="x.addNewItem(); showInputs=false;" ng-keyup="$event.keyCode == 13 ? x.addNewItem() : null"></md-input-container></div>
                                <div class="md-body-1" style="width:7%; vertical-align: text-top;">
                                        <div ng-show="showCancel">
                                                <center><a href="#" ng-click="x.cancelNewItem(); showInputs=false;" title="Click here to remove the add new item form"><i class="fa fa-times"></i> Cancel</a></center>
                                        </div>
                                </div>                                   
                        </md-list-item>
                        <div>
                                <center>
                                        <md-button class="md-raised md-accent" ng-click="showInputs=true;" style="width:220px;">Add New Item to List</md-button>
                                </center>
                        </div>
                        </br>
                </md-card>
        </md-content>
</div>