<div class="panel panel-primary" ng-controller="ItemListCtrl as x" ng-cloak>
        <md-content class="md-padding" layout="row" layout-wrap layout-align="center start">
                <md-card class="md-whiteframe-6dp" style="width: 1200px;">
                        <md-toolbar style="background-color:#003366;">
                                <!-- TOP NAVBAR -->
                                <div class="md-toolbar-tools">
                                        <h2 class="md-toolbar-tools">
                        <span>{{::x.title}}</span>
                        </h2>
                                </div>
                        </md-toolbar>
                        <!-- SEARCH FIELD -->
                        <div align="right" style="width:98%; height:50px;">
                                <md-input-container md-no-float>
                                        </br>
                                        <input ng-model="x.search" class="md-body-1" style="width:20%;" placeholder="Search Epics">
                                </md-input-container>
                        </div>
                        <!-- ITEM GRID -->
                        <!-- ITEM GRID - HEADER -->
                        <div class="bottomBorder animated fadeIn">
                                <div class="headerContainer">
                                        <div class="headerContent" style="width:9%;"></div>
                                        <div class="headerContent" style="width:11%; bottom:0px;">
                                                <a href="#" ng-click="sortEpic = 'key'; sortEpicReverse = !sortEpicReverse">
                                        EPIC ID
                                        <span ng-show="sortEpic == 'key' && !sortEpicReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortEpic == 'key' && sortEpicReverse" class="fa fa-caret-up"></span>
                                        </a></div>
                                        <div class="headerContent" style="width:30%; bottom:0px;">
                                                <a href="#" ng-click="sortEpic = 'name'; sortEpicReverse = !sortEpicReverse">
                                        EPIC NAME
                                        <span ng-show="sortEpic == 'name' && !sortEpicReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortEpic == 'name' && sortEpicReverse" class="fa fa-caret-up"></span>
                                        </a></div>
                                </div>
                                <div class="headerSlantContainer">
                                        <div class="headerSlantContent">Total</div>
                                        <div class="headerSlantContent">Blocked</div>
                                        <div class="headerSlantContent">Todo</div>
                                        <div class="headerSlantContent">In Progress</div>
                                        <div class="headerSlantContent">Testing</div>
                                        <div class="headerSlantContent">Passed</div>
                                        <div class="headerSlantContent">Released</div>
                                </div>
                        </div>
                        <!-- ITEM GRID - LOOPED CONTENT -->
                        <div ng-repeat="epic in x.epics | filter:x.search | orderBy:sortEpic:sortEpicReverse" class="bottomBorder animated fadeIn"
                        style="outline:none;">
                                <div class="accordionContainer" ng-click="expandArea = !expandArea" style="outline:none; cursor:default;">
                                        <div class="accordionContent" style="width:4%; height:48px; display:flex; align-items:center; padding-left: 25px; background-color:#57AFE5;">
                                                <span ng-show="!expandArea" class="fa fa-caret-right"></span>
                                                <span ng-show="expandArea" class="fa fa-caret-down"></span>
                                        </div>
                                        <div class="accordionContent" style="width:10%; padding-left:10px;">{{ epic.key }}</div>
                                        <div class="accordionContent" style="width:86%; padding-left:10px;">{{ epic.name }}</div>
                                </div>
                                <div class="accordionValuesContainer" ng-click="expandArea = !expandArea" style="outline:none;">
                                        <div class="accordionValuesContent">17</div>
                                        <div class="accordionValuesContent">2</div>
                                        <div class="accordionValuesContent">3</div>
                                        <div class="accordionValuesContent">3</div>
                                        <div class="accordionValuesContent">1</div>
                                        <div class="accordionValuesContent">6</div>
                                        <div class="accordionValuesContent">2</div>
                                </div>
                                <div class="bottomBorder accordionSubContainer" ng-show="expandArea">
                                        <div class="accordionSubHeader" style="width:7%; bottom:0px;">
                                                <a href="#" ng-click="sortIssue = 'key'; sortIssueReverse = !sortIssueReverse">
                                        ISSUE ID
                                        <span ng-show="sortIssue == 'key' && !sortIssueReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortIssue == 'key' && sortIssueReverse" class="fa fa-caret-up"></span>
                                        </a></div>
                                        <div class="accordionSubHeader" style="width:88%; bottom:0px;">
                                                <a href="#" ng-click="sortIssue = 'fields.summary'; sortIssueReverse = !sortIssueReverse">
                                        ISSUE NAME
                                        <span ng-show="sortIssue == 'fields.summary' && !sortIssueReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortIssue == 'fields.summary' && sortIssueReverse" class="fa fa-caret-up"></span>
                                        </a></div>
                                </div>
                                <div class="bottomBorder accordionSubContainer" ng-show="expandArea" ng-repeat="issues in x.issues | orderBy:sortIssue:sortIssueReverse">
                                        <div class="accordionSubHeader" style="width:7%; outline:none; cursor:pointer;" ng-click="x.justAlert(1);">{{ issues.key }}</div>
                                        <div class="accordionSubHeader" style="width:88%; outline:none; cursor:pointer;" ng-click="x.justAlert(1);">{{ issues.fields.summary }}</div>
                                </div>
                        </div>
                        </br>
                        </br>
                </md-card>
        </md-content>
</div>